<div class="container">
  <div class="description">
    <p class="intro body">hi, i am</p>
    <h1 class="header">Cristian Vargas</h1>
    <p class="body">
      <span
        >A passionate and dedicated computer science student with experience in
        both front-end and back-end development. I have honed my skills in
        languages such as C#, .NET, MVC.NET, SQL, CSS, HTML, JavaScript
        (including TypeScript), Python, PHP, React, and Angular.</span
      >
      <span
        >With a strong foundation in coding and programming, I am constantly
        curious and eager to learn new technologies and tools. My experience in
        both front-end and back-end development has provided me with a
        comprehensive understanding of the entire development process.</span
      >
      <span
        >I take pride in my ability to craft elegant and efficient code, and I
        am continuously motivated to deliver high-quality solutions. I believe
        in staying up-to-date with the latest industry trends and best
        practices, as it allows me to develop innovative and user-friendly
        applications.</span
      >
      <span
        >Whether it's building seamless user interfaces or optimizing database
        queries, I approach every project with a meticulous and detail-oriented
        mindset. I value clean and maintainable code, and I strive for
        excellence in every aspect of my work.</span
      >
      <span
        >I am excited about the opportunity to collaborate on new projects, to
        challenge myself, and to continually expand my skill set. Feel free to
        explore my portfolio to get a glimpse of my work and skill set. If you
        have any questions or project ideas, don't hesitate to get in
        touch!</span
      >
    </p>
  </div>
  <div class="photo">
    <img src="assets/me-july-2023(2).png" alt="my image" />
  </div>
  <div class="mySkills">
    <h1 class="header">my skills</h1>
    <ul class="body">
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>Typescript</li>
      <li>Bootstrap</li>
      <li>tailwind</li>
      <li>C#</li>
      <li>Angular</li>
      <li>React</li>
      <li>ASP.Net</li>
      <li>JQuery</li>
      <li>Node.js</li>
    </ul>
  </div>
</div>
