<div class="container">
  <div class="description">
    <p class="intro body">hi, i am</p>
    <h1 class="header">Cristian Vargas</h1>
    <p class="body">
      Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim
      labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet.
      Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum
      Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident.
      Nostrud officia pariatur ut officia.
    </p>
  </div>
  <div class="photo">
    <img src="../../../assets/me-july-2023(2).png" alt="my image" />
  </div>
  <div class="mySkills">
    <h1 class="header">my skills</h1>
    <ul class="body">
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>Typescript</li>
      <li>Bootstrap</li>
      <li>tailwind</li>
      <li>C#</li>
      <li>Angular</li>
      <li>React</li>
      <li>ASP.Net</li>
      <li>JQuery</li>
    </ul>
  </div>
</div>
