<footer>
  <div class="container">
    <div class="left">
      <a href="https://github.com/CVrgas"
        ><i class="fa-brands fa-github-alt"></i
      ></a>
      <a href="https://www.linkedin.com/in/cristian-vargas-844903257/"
        ><i class="fa-brands fa-linkedin-in"></i
      ></a>
    </div>
    <div class="middle">
      <p>
        <i class="fa-regular fa-copyright"></i><span>made by |</span>
        Cristian Vargas
      </p>
    </div>
    <div class="right">
      <h4>contact</h4>
      <p><i class="fa-solid fa-phone"></i>+1 (849)-207-9277</p>
      <p><i class="fa-solid fa-envelope"></i>Cristianvargasa389@gmail.com</p>
    </div>
  </div>
</footer>
